.social__caption{
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}

.social {
  @include flexbox($justify: space-between);

  &__item:not(:first-child) {
    margin-left: 10px;}}

.social__link {
  @include flexbox($justify: center);
  @extend %link;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: $primary-white-color;
  background-color: rgba(255, 255, 255, 0.1);
  @include transition(background-color);
  @include transition(color);
  @include transition(box-shadow);
  

  &:hover, &:focus {
    background-color: $accent-color;}

}

.social__icon {
  @extend %icon;
  height: 20px;
  width: 20px;
}

.teamsocial {
  @include flexbox($justify: space-between);
}

.teamsocial__link {
  @include flexbox($justify: center);
  @extend %link;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: $primary-icon-color;
  @include transition(background-color);
  @include transition(color);
  
  &:hover, &:focus {
    color: $primary-white-color;
    background-color: $accent-color;}
}

.teamsocial__icon {
  @extend %icon;
  height: 20px;
  width: 20px;
}