html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $primary-font-family;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

P,
h1,
h2,
h3, 
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}