$primary-text-color: #757575;
$primary-icon-color: #afb1b8;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$logo-dark: #000000;
$secondary-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$gradient-color: rgba(47, 48, 58, 0.4);
$set-gap: 30px;
$title-text-color: #212121;
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
$container-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;
$animу-dur: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
